body
{
    background-image: url(christmas_tree.webp);
    background-size: cover;
}
.div
{
    text-align: center;
    border-radius: 20px;
    letter-spacing: 10px;
    margin: 50px;
}
.dashed_background
{
    border: 2px dashed black;
    background-color: white;
}
.p
{
    font-family: 'La Belle Aurore', cursive;
    font-family: 'Source Sans Pro', sans-serif;
}
.img
{
    height: 500px;
    width: 500px;
    border-radius: 20px;
}